@font-face {
  font-family: "poppins";
  src: url("/assets/fonts/poppins-bold-webfont.woff2") format("woff2"),
    url("/assets/fonts/poppins-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url("/assets/fonts/poppins-medium-webfont.woff2") format("woff2"),
    url("/assets/fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url("/assets/fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("/assets/fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url("/assets/fonts/poppins-semibold-webfont.woff2") format("woff2"),
    url("/assets/fonts/poppins-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "ubuntu_monobold";
  src: url("/assets/fonts/ubuntumono-bold-webfont.woff2") format("woff2"),
    url("/assets/fonts/ubuntumono-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "dm_mono";
  src: url("/assets/fonts/dmmono-regular.woff2") format("woff2"),
    url("/assets/fonts/dmmono-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dm_mono";
  src: url("/assets/fonts/dmmono-medium.woff2") format("woff2"),
    url("/assets/fonts/dmmono-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

.hot-news-shadow {
  box-shadow: 0px 44px 48px -24px rgba(9, 11, 20, 0.3);
}

.try-amplication {
  box-shadow: 0px 8px 20px rgba(19, 22, 36, 0.24);
}

ul.slick-dots {
  bottom: -35px !important;
}

.slick-dots li button:before {
  opacity: 1 !important;
  color: #fff !important;
}

.slick-dots li.slick-active button:before {
  color: #53dbee !important;
  font-size: 10px !important;
  opacity: 1 !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .post-content a {
    @apply text-purple-primary-dark;
  }

  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 13.6px;
  }
}
